{{ partial "header.html" . }}

<div class="home">
<img src="/images/kgp3.webp" alt="kgp">
<div class="homecentered">
<div class="home1">GENIUS MODEL UNITED NATIONS</div>
<div class="home2">16 - 18 June 2023</div>
<div class="home3">Kolej GENIUS@pintar Negara UKM, Selangor, Malaysia</div>
<a href="/registration" class="registerbutton">REGISTER NOW</a>
</div>
</div>

<article>
<h2>Welcoming Remarks</h2>
<p>@SecGen welcoming remark pls <br>  https://www.tmun.ca/ https://www.harvardmun.org/ <br><br></p>

<div style="text-align: center;"><img src="/images/kgpukm.webp" alt="kgpukm"></div>
</article>

{{ partial "footer.html" . }}